/* General styles */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #FAEBD7; /* Soft desert yellow */
}

.container {
    width: 85%;
    margin: 0 auto;
    max-width: 1000px;
}

h1, h2, h3 {
    font-weight: 700;
    color: #333;
}

p {
    font-size: 1.1em;
    color: #555;
    line-height: 1.8;
}

/* Header styles */
header {
    background: #fff;
    padding: 20px 0;
    border-bottom: 1px solid #e7e7e7;
    position: relative;
    text-align: center;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
    font-weight: 700;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #007BFF;
    font-weight: 500;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #0056b3;
}

/* Section styles */
.section {
    padding: 100px 0 40px 0;
    background-color: #fff;
    margin-top: 70px;
    border-bottom: 1px solid #e7e7e7;
}

.section:nth-child(even) {
    background-color: #F8F8F8;
}

.section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.section p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

/* Footer styles */
footer {
    background: #fff;
    padding: 20px 0;
    border-top: 1px solid #e7e7e7;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 1em;
    color: #555;
}
